img.w-full.h-48.object-cover.rounded-xl.mb-4 {
  height: 400px;
}

body {
  font-family: "Young Serif", serif;
  text-align: center;
  color: #5c272f !important;
  background-color: #ffced4 !important;
}

.text-pink-600 {
  font-family: "DM Serif Display", serif;
  font-size: 20px;
}

.bg-white {
  border: 4px solid #e973a3;
}

svg.bi.bi-instagram {
  height: 21px;
  width: 21px;
  padding-top: 2px;
}

.flex.flex-col.items-center.mb-6 {
  padding-top: 50px;
  padding-bottom: 30px;
  margin-bottom: 0 !important;
  background-image: linear-gradient(to bottom, #ffffff, #ffced4);
}

.text-gray-500 {
  font-size: 12px;
}

div#modal-imagens {
  max-width: 800px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

  /* aparência geral */
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #f28ab2 #ffe4f0;
  /* Firefox */
}

/* Chrome, Edge, Safari */
div#modal-imagens::-webkit-scrollbar {
  height: 8px;
}

div#modal-imagens::-webkit-scrollbar-track {
  background: #ffe4f0;
  /* trilha rosa clara */
  border-radius: 10px;
}

div#modal-imagens::-webkit-scrollbar-thumb {
  background-color: #f28ab2;
  /* polegar rosa médio */
  border-radius: 10px;
}

div#modal-imagens::-webkit-scrollbar-thumb:hover {
  background-color: #e471a1;
  /* hover rosa mais escuro */
}

.footer {
  background-color: #ffffff !important;
  color: #5c272f !important;
  text-align: left;
  border-top: solid 5px #ec4899;
  font-family: 'Inter', sans-serif;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 40px 20px 0px 20px;
}

.footer-col {
  flex: 1 1 250px;
  min-width: 200px;
}

.footer-col h2 {
  font-size: 18px;
  color: #e973a3;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 3px;
}

.footer-col p {
  margin: 5px 0;
  font-size: 14px;
  color: #5c272f;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin-right: 12px;
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff89c0;
}

.footer-bottom {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
  color: #000000;
  padding: 20px;
  background-color: #e5e7eb !important;
}

.social-icons a {
  margin-right: 10px;
  color: #fff;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #d3d3d3;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

@media (min-width: 1024px) {
  .footer-container {
    max-width: 1000px;
  }

  .footer-col {
    flex: none !important;
  }
}

@media (min-width: 768px) {
  #modal {
    border-radius: 1rem;
  }
}

#modal.modal-enter {
  opacity: 0;
  transform: scale(0.95);
}

#modal.modal-enter-active {
  transition: all 0.3s ease;
  opacity: 1;
  transform: scale(1);
}

button.absolute.top-4.right-6.text-3xl.text-gray-600 {
  z-index: 50;
  color: #fff;
  background-color: #ec4899;
  margin: 0 !important;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

@media (max-width: 768px) {
  div#modal-content {
    height: 100% !important;
  }
}

svg.bi.bi-instagram {
  width: 25px;
  height: 25px;
  padding: 2px;
}

svg.bi.bi-whatsapp {
  width: 25px;
  height: 25px;
  padding: 2px;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  height: 80vh;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-slide iframe {
  width: 100%;
  max-width: 360px;
  height: 640px;
  border: 4px solid #e973a3;
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 17%);
}

.video-wrapper {
  position: relative;
  width: 100%;
  max-width: 360px;
  height: 640px;
}

.video-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
}

.play-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgb(236 72 153);
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button svg {
  fill: white;
  width: 30px;
  height: 30px;
}

.carousel-arrow {
  position: absolute;
  top: 44%;
  transform: translateY(-50%);
  background: rgb(236 72 153 / 40%);
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.carousel-arrow svg {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}

.arrow-left {
  left: 10px;
}

.arrow-right {
  right: 10px;
}

.hidden {
  display: none;
}

@media (min-width: 768px) {
  .carousel-track {
    transform: none !important;
    transition: none;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 30px;
  }

  .carousel-slide {
    min-width: 0;
    width: 368px !important;
  }

  .carousel-arrow {
    display: none;
  }

  .carousel-container {
    height: auto;
  }
}

iframe {
  height: 540px;
}